<div th:fragment="headerLoggedFragment">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/welcome-logged" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h1>Home Trade</h1>
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/booking" class="nav-link px-2" th:if="${userEntity.type == 'Super'}">Mes confirmations</a></li>
      <li><a href="/booking" class="nav-link px-2" th:if="${userEntity.type == 'Super' || userEntity.type == 'User'}">Mes demandes</a></li>
      <li><a href="/message" class="nav-link px-2" th:if="${userEntity.type == 'Super'}">Mes réponses</a></li>
      <li><a href="/message" class="nav-link px-2" th:if="${userEntity.type == 'Super' || userEntity.type == 'User'}">Mes questions</a></li>
      <li><a href="/profile" class="nav-link px-2">Mon profil</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <a href="#" th:href="@{/logout}" class="btn btn-primary">Se déconnecter</a>
    </div>
  </header>
</div>