<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nouvelle maison</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h1>Home Trade</h1>
      </a>
    </div>
  </header>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <form method="post" role="form" th:action="@{/add-house}" th:object="${house}" enctype="multipart/form-data">
        <h1>Formulaire d'ajout</h1>
        <div th:if="${param.success}">
          <div class="alert alert-info">
            Ajout réussie !
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="col-form-label" for="title">Titre</label>
            <input class="form-control" id="title" name="title" type="text">
            <p class="text-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>

            <label class="col-form-label" for="description">Description</label>
            <input class="form-control" id="description" name="description" type="text">
            <p class="text-danger" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></p>

            <label class="col-form-label" for="photoEntities">Photos</label>
            <input class="form-control-file" id="photoEntities" name="photoEntities" type="file" multiple>
            <p class="text-danger" th:errors="*{photoEntities}" th:if="${#fields.hasErrors('photoEntities')}"></p>
//pas se casser la tete reprendre le formulaire de registration et cleaner tout ce qui a été fait plus rajouter la photo de profil dans registration et trouver des exemples de photos !
          </div>
          <div class="col-md-6">
            <label class="col-form-label" for="addressEntity.number">Numéro</label>
            <input class="form-control" id="addressEntity.number" name="addressEntity.number" type="number">
            <p class="text-danger" th:errors="*{addressEntity.number}" th:if="${#fields.hasErrors('addressEntity.number')}"></p>

            <label class="col-form-label" for="addressEntity.street">Rue</label>
            <input class="form-control" id="addressEntity.street" name="addressEntity.street" type="text">
            <p class="text-danger" th:errors="*{addressEntity.street}" th:if="${#fields.hasErrors('addressEntity.street')}"></p>

            <label class="col-form-label" for="addressEntity.city">Ville</label>
            <input class="form-control" id="addressEntity.city" name="addressEntity.city" type="text">
            <p class="text-danger" th:errors="*{addressEntity.city}" th:if="${#fields.hasErrors('addressEntity.city')}"></p>

            <label class="col-form-label" for="addressEntity.code">Code postal</label>
            <input class="form-control" id="addressEntity.code" name="addressEntity.code" type="number">
            <p class="text-danger" th:errors="*{addressEntity.code}" th:if="${#fields.hasErrors('addressEntity.code')}"></p>

          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
          <div class="mb-3">
            <button class="btn btn-primary mb-3" type="submit">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>