<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container" th:include="fragments/header-logged :: headerLoggedFragment"></div>
    <div class="container">
        <div class="row justify-content-center mb-4">
            <form class="form-inline d-flex justify-content-center" th:action="@{/search-logged}" method="get">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="city" class="sr-only">Ville</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="country" class="sr-only">Pays</label>
                    <input type="text" class="form-control" id="country" name="country">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label></label>
                    <button type="submit" class="btn btn-primary form-control">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container" th:if="${not #lists.isEmpty(searchHousingEntities)}">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="mb-4">
                    <h2>Résultats</h2>
                </div>
                <div class="card-deck">
                    <div class="card mb-4" th:each="searchHousingEntity : ${searchHousingEntities}">
                        <img class="card-img-top" th:if="${not searchHousingEntity.photoEntities.isEmpty()}" th:src="${searchHousingEntity.photoEntities.iterator().next().path}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${searchHousingEntity.name}">Nom</h5>
                            <p class="card-text" th:text="${#strings.concat(searchHousingEntity.addressEntity.city, ', ',searchHousingEntity.addressEntity.country)}">Ville, Pays</p>
                            <a href="#" th:href="@{/view-housing/{id}(id=${searchHousingEntity.idHousing})}" class="btn btn-primary">Consulter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" th:unless="${not #lists.isEmpty(searchHousingEntities)}">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="mb-4">
                    <h2>Dernières nouveautés</h2>
                </div>
                <div class="card-deck">
                    <div th:if="${not #lists.isEmpty(lastHousingEntities)}">
                        <div class="card mb-4" th:each="lastHousingEntity : ${lastHousingEntities}">
                            <img class="card-img-top" th:if="${not lastHousingEntity.photoEntities.isEmpty()}" th:src="${lastHousingEntity.photoEntities.iterator().next().path}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${lastHousingEntity.name}">Nom</h5>
                                <p class="card-text" th:text="${#strings.concat(lastHousingEntity.addressEntity.city, ', ',lastHousingEntity.addressEntity.country)}">Ville, Pays</p>
                                <a href="#" th:href="@{/view-housing/{id}(id=${lastHousingEntity.idHousing})}" class="btn btn-primary">Consulter</a>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${not #lists.isEmpty(lastHousingEntities)}">
                        <p>Aucune dernière nouveauté.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" th:include="fragments/footer :: footerFragment"></div>
</body>
</html>